<h1> Rich Text Editor </h1>

<!-- <div style="height: 400px; width: 90%;"> -->
  <quill-editor [styles]="{height: '200px', theme: 'dark'}"
  (onEditorChanged)="editorContentChanged($event)"
></quill-editor>
<!-- </div> -->

<br>
<p>Output</p>
{{ editorContent }}

<p [innerText]="editorContent"></p>



<br>
<br>

<h2>Custom Editor </h2>

<quill-editor [modules]="editorModules">
</quill-editor>











<!-- <h2> custom editor</h2>

<quill-editor>
  <div quill-editor-toolbar>
    <span class="ql-formats">
      <button class="ql-bold" [title]="'Bold'"></button>
    </span>
    <span class="ql-formats">
      <select class="ql-align" [title]="'Aligment'">
        <option selected></option>
        <option value="center"></option>
        <option value="right"></option>
        <option value="justify"></option>
      </select>
      <select class="ql-align" [title]="'Aligment2'">
        <option selected></option>
        <option value="center"></option>
        <option value="right"></option>
        <option value="justify"></option>
      </select>
    </span>
  </div>
</quill-editor> -->
